/* Container */
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Base */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
  background-color: #222831;
}
img {
  max-width: 100%;
  vertical-align: top;
  -o-object-fit: contain;
     object-fit: contain;
}
.title {
  font-weight: 600;
  font-size: 32px;
}
.list {
  list-style: none;
}
.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
fieldset {
  padding: 0;
  border: none;
}
input,
select {
  border: none;
}
.accent {
  background-color: #1f4aa8;
  border-radius: 39px;
}
/* Header */
.header {
  position: absolute;
  top: 40px;
  z-index: 10;
  min-width: 100%;
  font-weight: 700;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  font-size: 18px;
  color: #ffffff;
}
.header__menu-link {
  font-weight: 400;
}
.header__menu-link_action {
  font-weight: 700;
}
.header__enter {
  padding: 16px 50px;
  font-weight: 700;
  font-size: 14px;
}
/* Hero */
.hero {
  position: relative;
  padding-top: 208px;
  padding-bottom: 160px;
  background-image: url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__content {
  margin: 0 auto;
  max-width: 782px;
  text-align: center;
}
.hero__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 72px;
}
.hero__text {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.055em;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 40, 49, 0)), to(#222831));
  background: linear-gradient(180deg, rgba(34, 40, 49, 0) 0%, #222831 100%);
}
/* Booking */
.booking {
  position: absolute;
  top: 534px;
  z-index: 10;
  min-width: 100%;
  /* Booking TabLinks */
  /* Booking TabContent */
}
.booking__inner {
  padding: 20px 44px;
  background-color: #ffffff;
  border-radius: 30px;
}
.booking__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
  padding-bottom: 9px;
  font-weight: 600;
  color: #888aa2;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(to right, #888aa2, transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#888aa2), to(transparent)) 1;
     border-image: linear-gradient(to right, #888aa2, transparent) 1;
}
.booking__tab-input[type=radio] {
  display: none;
}
.booking__tab-label {
  padding: 10px 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
#tab1:checked ~ .booking__tab .booking__tab-item1 .booking__tab-label,
#tab2:checked ~ .booking__tab .booking__tab-item2 .booking__tab-label,
#tab3:checked ~ .booking__tab .booking__tab-item3 .booking__tab-label,
#tab4:checked ~ .booking__tab .booking__tab-item4 .booking__tab-label,
#tab5:checked ~ .booking__tab .booking__tab-item5 .booking__tab-label {
  border-color: #1f4aa8;
  color: #1f4aa8;
}
.booking__tab-label:hover {
  border-color: #000000;
}
.booking__tabcontent {
  display: none;
}
#tab1:checked ~ .booking__tabcontents .booking__tabcontent1,
#tab2:checked ~ .booking__tabcontents .booking__tabcontent2,
#tab3:checked ~ .booking__tabcontents .booking__tabcontent3,
#tab4:checked ~ .booking__tabcontents .booking__tabcontent4,
#tab5:checked ~ .booking__tabcontents .booking__tabcontent5 {
  display: block;
}
.booking__tabcontents {
  color: #000000;
}
.booking__title {
  text-align: center;
}
.booking__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}
.booking__radiogroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.booking__radiogroup-input[type=radio] {
  display: none;
}
.booking__radiogroup-label {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.booking__radiogroup-input[type=radio]:checked + .booking__radiogroup-label {
  color: #1f4aa8;
  background-color: #becdf8;
}
.booking__radiogroup-label:hover {
  color: #3662d8;
  background-color: #e7edfd;
}
.booking__selectgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.booking__selectgroup-select {
  font-size: 14px;
  color: #1f4aa8;
}
.booking__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}
.booking__textgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.booking__textgroup-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 64px;
  width: 364px;
  height: 48px;
  border: 0.5px solid #000000;
  border-radius: 10px;
}
.booking__textgroup-label::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 35px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center;
}
.booking__textgroup-label:first-child::before {
  background-image: url("../images/booking/from.svg");
}
.booking__textgroup-label:last-child::before {
  background-image: url("../images/booking/to.svg");
}
.booking__textgroup-input {
  min-width: 100%;
}
.booking__textgroup-button {
  width: 37px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 100%;
}
.booking__dategroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.booking__dategroup-label {
  width: 174px;
  height: 48px;
  text-align: center;
  border: 0.5px solid #000000;
  border-radius: 10px;
}
.booking__dategroup-text {
  font-size: 11px;
}
.booking__dategroupdate-input {
  font-size: 13px;
}
.booking__box {
  text-align: center;
}
.booking__button {
  padding: 20px 87px;
  color: #ffffff;
}
/* Popular */
.popular {
  padding-top: 312px;
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;
}
.popular__title {
  margin-bottom: 28px;
}
.popular__content {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(2, 273px);
  grid-template-areas: "item-1 item-1 item-4 item-5" "item-2 item-3 item-4 item-5";
  gap: 34px;
}
.popular__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px;
  border-radius: 16px;
}
.popular__content-item-1 {
  grid-area: item-1;
  background-image: url("../images/popular/image-1.jpg");
}
.popular__content-item-2 {
  grid-area: item-2;
  background-image: url("../images/popular/image-2.jpg");
}
.popular__content-item-3 {
  grid-area: item-3;
  background-image: url("../images/popular/image-3.jpg");
}
.popular__content-item-4 {
  grid-area: item-4;
  background-image: url("../images/popular/image-4.jpg");
}
.popular__content-item-5 {
  grid-area: item-5;
  background-image: url("../images/popular/image-5.jpg");
}
.popular__content-title {
  font-weight: 500;
  font-size: 22px;
}
/* Download */
.download {
  padding-bottom: 100px;
}
.download__title {
  margin-bottom: 30px;
  text-align: center;
}
.download__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
/* Footer */
.footer {
  padding-top: 42px;
  padding-bottom: 132px;
  background-color: #133b5c;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  max-width: 232px;
  font-size: 13px;
}
.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  letter-spacing: 0.05em;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
}
.footer__list > *:not(:last-child),
.footer__title {
  margin-bottom: 10px;
}
.footer__list-link {
  font-size: 14px;
}
.footer__contacts {
  max-width: 200px;
  font-size: 14px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
